body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-wrapper-about {
    display: flex;
    padding: 2% 5%;
}

.about-text {
    color: #000a63;
    text-align: center;
    font-size: 3rem;
    margin-block-end: 1rem;
    padding-top: 2vh;
    font-weight: bold;
}

.profile-text {
    font-size: 1.7rem;
    padding: 0 10%;
    text-align: justify;
    font-style: italic;
}

.profile-text p {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 2;
}

#acon {
    text-decoration: none;
    color: #0000ff;
}

@media only screen and (max-width: 600px) {
    .profile-text {
        font-size: 1em;
        padding: 0 5%;
    }
}