body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1em;
    padding: 0;
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #000a63;
    text-decoration: none;
    font-style: italic;
    -o-transition: all 1000ms;
    -ms-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
}

a:hover {
    font-style: normal;
}

/***********************************************************************
 *  Skills section
 **********************************************************************/
.grid-wrapper-skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
    margin: 10vh 0 0 0;
}

.box {
    padding: 2px;
    margin: 10px;
    cursor: pointer;
    -o-transition: all ease-in-out 2000ms;
    -ms-transition: all ease-in-out 2000ms;
    -moz-transition: all ease-in-out 2000ms;
    -webkit-transition: all ease-in-out 2000ms;
    transition: all ease-in-out 2000ms;
}

.bootstrap {
    padding: 10% 20% 40% 20%;
}

.box img {
    width: 100%;
    height: auto;
}

.box p {
    font-size: 1rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    /* color: #001aff; */
    text-align: center;
}

.box > i {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.8em;
        padding: 0;
    }
}
